{% extends 'profiles/custom/webny/themes/custom/webny_theme/templates/content/webny--card-base.html.twig' %}

{# setting title variable so it can be used 2x #}
{%  if(node.field_webny_event_short_title.value is not empty and node.field_webny_event_short_title.value is not null) %}
    {% set vtitle = node.field_webny_event_short_title.value %}
{% else %}
    {% set vtitle = node.label %}
{% endif %}

{% block card_image %}
    {% if (content.field_webny_event_heroimage["#items"] is not empty) %}
        <div class="card-image">
            {{ content.field_webny_event_heroimage }}
        </div>
    {% endif %}
{% endblock card_image %}

{% block card_title %}
    {{ vtitle | webny_trim_card_title }}
{% endblock card_title %}

{% block card_content %}
    {{ content.field_webny_event_summary }}

    {# Date / Time #}
    {% set date_start = content.field_webny_event_date_start.0['#attributes'].datetime %}
    {% set date_end = content.field_webny_event_date_end.0['#attributes'].datetime %}
    {% set all_day = content.field_webny_event_all_day.0['#markup'] %}

    {% set month = date_start | date('F') %}
    {% set day = date_start | date('j') %}

    {# If not an all day event. #}
    {% if all_day == '0' %}
        {% if date_start | date('F') != date_end | date('F') %}
            {% set month = month ~ " " ~ date_end | date('F') %}
        {% endif %}

        {% if date_start | date('j') != date_end | date('j') %}
            {% set day = day ~ " " ~ date_end | date('j') %}
        {% endif %}

        {% set time = date_start | date('g:i A T') ~ " to " ~ date_end | date('g:i A T') %}
    {% endif %}

    <div class="month">
        {{ month }}
    </div>

    <div class="day">
        {{ day }}
    </div>

    <div class="time">
        {{ time }}
    </div>

{% endblock card_content %}
