{% extends 'profiles/custom/webny/themes/custom/webny_theme/templates/content/webny--teaser-base.html.twig' %}

{% if (node.field_webny_page_short_title.value is not empty and node.field_webny_page_short_title.value is not null) %}
    {% set title = content.field_webny_page_short_title %}
{% else %}
    {% set title = node.label %}
{% endif %}

{% block hero_image %}
    {% if not content.field_webny_page_image.0 %}
        <div class="list-fallback-img">{{ source('profiles/custom/webny/themes/custom/webny_theme/images/NYS_StateOutline.svg') }}</div>
    {% else %}
        {{ content.field_webny_page_image }}
    {% endif %}
{% endblock hero_image %}

{% block content %}
    <div class="page-description-fieldwrapper">
        <div class="page-description-text">{{ content.field_webny_page_description }}</div>
    </div>
{% endblock content %}

{% block footer %}
    <ul class="links inline">
        <li class="node-readmore">
            <a href="{{ url }}" rel="tag" title="{{ node.label }}">Learn more<span class="visually-hidden"> about {{ node.label }}</span></a>
        </li>
    </ul>
{% endblock %}