{#
/**
 * @file
 * Theme override to display a node for webny-generic-page.
 * Begin TWIG NODE-WEBNY-GENERIC-PAGE Template
 * CREATED BY WEBNY
 */
#}

{# NODE FIELDS #}
{# SUMMARY DESCRIPTION              -- field_webny_gencp_sumdes #}
{# CONTENT CATEGORIZATION           -- field_webny_gencp_contentcat #}
{# HERO DATE                        -- field_webny_gencp_date #}
{# HERO DATE                        -- field_webny_gencp_heroimage #}
{# HERO DESCRIPTION                 -- field_webny_gencp_herodesc #}
{# KEYWORDS                         -- field_webny_gencp_keywords #}
{# AVERAGE TIME                     -- field_webny_gencp_avgtranstime #}
{# HOW TO APPLY                     -- field_webny_gencp_howtoapply #}
{# NAVIGATION TOGGLE ON/OFF         -- field_webny_gencp_navtoggle #}
{# CONTENT SECTIONS                 -- field_webny_gencp_contentsect #}

{# ATTACH JS LIBRARY #}
{{ attach_library('webny_theme/navigator') }}
{{ attach_library('webny_theme/callouts') }}

{# DECLARED VARS #}
{% set hero_image = file_url(node.field_webny_gencp_heroimage.entity.field_image.entity.uri.value) %}

<div class="webny-generic-content-page">

    <article {{ attributes.addClass('hero-layout') }}>

        {# START QUICK EDITS #}
        {{ title_prefix }}

        {# ====== HERO SECTION ====== #}

        {# HERO DEFINITION #}
        {% if hero_image == '/' %}
        <div class="hero-header hero-no-image hero-generic" style="">
            {% else %}
            <div class="hero-header hero-has-image hero-generic" style="background-image:url('{{ hero_image }}')">
                {% endif %}
                <!-- BACKGROUND GRAD -->
                <!--<div class="hero-bkg"></div>-->
            <!--</div>-->

            {# HERO INNER DEFINITION #}
            {% if hero_image == '/' %}
            <div class="hero-inner hero-generic-inner">
                {% else %}
                <div class="hero-inner hero-generic-inner hero-has-image-content">
                    {% endif %}

                    <div class="published-date">
                        {% if node.field_webny_gencp_date.value is not empty %}
                            {{ node.field_webny_gencp_date.value|date('F j, Y') }}
                        {% endif %}
                    </div>

                    {# HERO HEADLINE / TITLE #}
                    <h1>{{ label }}</h1>

                    {# HERO DESCRIPTION #}
                    <div class="hero-generic-summary">
                        {{ content.field_webny_gencp_herodesc }}
                    </div>

                    {# HERO KEYWORDS #}
                    <!-- HERO BUTTONS [USING KEYWORD CLASS] -->
                    <div class="hero-generic-keywords">
                        {{ content.field_webny_gencp_keywords }}
                    </div>

                    {# TRANSACTION TIME #}
                    {# if there is no transaction time saved, don't show div #}
                    {% if content.field_webny_gencp_avgtranstime.0 != '' %}
                    <div class="hero-generic-transaction">
                        <div class="hero-generic-transaction-time">
                            Average time of transaction <span class="icon-outline_clock">{{ content.field_webny_gencp_avgtranstime.0 }}</span> minutes
                        </div>
                        <div class="hero-generic-transaction-button">
                            {{ content.field_webny_gencp_howtoapply }}
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>

                {# ====== END HERO SECTION ====== #}

                {# END QUICK EDITS #}
                {{ title_suffix }}
    </article>

    <div class="actions">
        <div class="webny-action-bar">
            <div class="webny-action-top"><a href="#top">TOP<span class="icon-arrow-up"></span></a></div>
            <div class="webny-action-label">{{ label }}</div>
            <div class="webny-share">
                <div class="webny-action-share-label">SHARE</div>
                <div class="webny-action-share-button">
                    <a href="mailto:?Subject={{ site_name }}: {{ node.label }}&Body={{ url('<current>') }}" target="_blank"><span class="icon-email"></span></a>
                </div>
                <div class="webny-action-share-button">
                    <a href="http://www.facebook.com/share.php?u={{ url('<current>') }}" target="_blank"><span class="icon-facebook"></span></a>
                </div>
                <div class="webny-action-share-button">
                    <a href="https://twitter.com/intent/tweet?text={{ node.label }}&url={{ url('<current>') }}" target="_blank"><span class="icon-twitter"></span></a>
                </div>
            </div>
        </div>


    </div>


{% if node.field_webny_gencp_navtoggle.value == 1 %}

    {# NAV ENABLED: GENERIC PARAGRAPHS SECTION WITH SIDEBAR FOR NAVIGATOR / TOC#}
    <div class="page-paragraphs generic-paragraphs with-nav-sidebar">
        <div class="page-paragraphs-in">
            <aside id="gpnav_sidebar">
                <header>Sections</header>
                <ul>
                    <li class="see-all"><a href="#" class="icon-all_steps"><span>See All</span></a></li>
                </ul>
                <span class="arrow"></span>
            </aside>
            <div class="gp-article-content">
                <div class="gp-chapters">
                    {{ content.field_webny_gencp_contentsect|without('label') }}
                </div>
            </div>
        </div>
    </div>

{% else %}

    {# NAV DISABLED: GENERIC PARAGRAPHS SECTION FOR USE WITHOUT NAV FUNCTIONALITY #}
    <div class="page-paragraphs generic-paragraphs">
        <div class="page-paragraphs-in">
            {{ content.field_webny_gencp_contentsect|without('label') }}
        </div>
    </div>

{% endif %}

</div>
