{#
/**
 * @file
 * Theme override to display a node.
 * CREATED BY WEBNY -- iojonep, lmurdock, mcase
 * Override theme for Inner Page
 * Available variables:
 * https://api.drupal.org/api/drupal/core!modules!node!templates!node.html.twig/8.2.x 
 */
#}

{# @PARAMS #}
{% set hero_image = file_url(node.field_webny_page_image.entity.field_image.entity.uri.value) %}
{% set title = '' %}
{% set hero = '' %}

{# GET VARS FOR DISPLAYING HERO AND TITLES #}
{%  for k,v in node.field_webny_page_vis_options %}

    {% if node.field_webny_page_vis_options[k].value == 'hero' %}
        {% set hero = 'show' %}
    {% endif %}
    {% if node.field_webny_page_vis_options[k].value == 'title' %}
        {% set title = 'show' %}
    {% endif %}

{% endfor %}


{% if title == 'show' %}

<article {{ attributes.addClass('title-layout') }}>

    {% if hero == '' %}
        {# START QUICK EDITS #}
        {{ title_prefix }}
    {% endif %}


    <div class="landing-title-area">

        <!-- HEADLINE LABEL -->
        <div class="landing-title">
            <h1>{{ label }}</h1>
        </div>

    </div>

    {% if hero == '' %}
        {# START QUICK EDITS #}
        {{ title_suffix }}
    {% endif %}


</article>

{% endif %}

{% if hero == 'show' %}
    <article {{ attributes.addClass('hero-layout') }}>

        {# START QUICK EDITS #}
        {{ title_prefix }}

        {% if hero_image == '/' %}
            <div class="hero-header hero-no-image hero-ipage" style="">
        {% else %}
            <div class="hero-header hero-has-image hero-ipage" style="background-image:url('{{ hero_image }}')">
        {% endif %}

                <!-- BACKGROUND GRAD -->
                <div class="hero-bkg"></div>
            </div>

            {% if hero_image == '/' %}
                <div class="hero-inner hero-ipage-inner">
            {% else %}
                <div class="hero-inner hero-ipage-inner hero-has-image-content">
            {% endif %}

                    {# HEADLINE LABEL #}
                    <h1>
                        {% if node.field_webny_page_hero_title.value is empty %}
                            {{ label }}
                        {% else %}
                            {{ node.field_webny_page_hero_title.value }}
                        {% endif %}
                    </h1>

                    {# HERO SUMMARY #}
                    <div class="hero-summary">
                        {{ content.field_webny_page_description }}
                    </div>

                    {# KEYWORDS FOR INNER PAGE HERO #}
                    <div class="hero-global-keywords">
                        {{ content.field_webny_page_global_keywords }}
                    </div>

            </div>

         {# END QUICK EDITS #}
         {{ title_suffix }}

    </article>
{% endif %}




{% if hero == '' and title == '' %}
<article {{ attributes.addClass('quickedit-layout') }}>
    {# START QUICK EDITS #}
    {{ title_prefix }}
    {% endif %}

<div class="body-area">

    <div class="body-area-in">

        <div class="body-area-subtitle">
            {% for x,subtitle in node.field_webny_page_sub_title if x >= 0 %}
                <div class="body-area-subtitle-item">
                    {{ node.field_webny_page_sub_title[x].value }}
                </div>
            {% endfor %}
        </div>

        <div class="page-body">
            {{ content.body }}
        </div>

    </div>

</div>

{% if hero == '' and title == '' %}
    {# END QUICK EDITS #}
    {{ title_suffix }}
</article>
{% endif %}

<div class="press-docs">
    <h2 class="doc-set-title">{{ content.field_webny_page_docsec_title }}</h2>
    <h3 class="doc-set-subtitle">{{ content.field_webny_page_docsec_subtitle }}</h3>

    <div class="press-docs-eref">
        {{ content.field_webny_page_attdocs_eref }}
    </div>
</div>
