{% extends 'profiles/custom/webny/themes/custom/webny_theme/templates/content/webny--card-base.html.twig' %}

{# setting title variable so it can be used 2x #}
{%  if(node.field_webny_event_short_title.value is not empty and node.field_webny_event_short_title.value is not null) %}
    {% set vtitle = node.field_webny_event_short_title.value %}
{% else %}
    {% set vtitle = node.label %}
{% endif %}

{% block card_image %}
    {% if (content.field_webny_event_heroimage["#items"] is not empty) %}
        <div class="card-image">
            {{ content.field_webny_event_heroimage }}
        </div>
    {% endif %}
{% endblock card_image %}

{% block card_title %}
    {{ vtitle | webny_trim_card_title }}
{% endblock card_title %}

{% block card_content %}
    <div class="summary">
        {{ content.field_webny_event_summary }}
    </div>

    {# See webny_event_content_type_preprocess_node() for extra variables. #}

    {% set day_month_classes = ['day-month-wrapper'] %}
    {% if multi_day %}
        {% set day_month_classes = day_month_classes | merge(['multi-day']) %}
    {% endif %}
    <div class="event-date">
        <div class="{{ day_month_classes | join(' ') }}">
            <div class="month">
                <div class="start">{{ start_month }}</div>{% if multi_day %}<div class="dash">-</div><div class="end">{{ end_month }}</div>{% endif %}
            </div>

            <div class="day">
                {# Because these are inline elements, spacing matters. #}
                <div class="start">{{ start_day }}</div>{% if multi_day %}<div class="dash">-</div><div class="end">{{ end_day }}</div>{% endif %}
            </div>
        </div>

        {% if not all_day %}
            <div class="time">
                {{ event_time }}
            </div>
        {% endif %}
    </div>

{% endblock card_content %}
