{#
/**
 * @file
 * Theme override to display a node for webny-event.
 * Begin TWIG NODE-WEBNY-EVENT Template
 * CREATED BY WEBNY
 */
#}

{# NODE FIELDS #}
{# Agency keywords                  -- field_webny_agency_keywords #}
{# Content categorization           -- field_webny_contentcat #}
{# Location                         -- field_webny_event_address #}
{# All day event                    -- field_webny_event_all_day #}
{# Content sections                 -- field_webny_event_contentsect #}
{# End date (see custom vars)       -- field_webny_event_date_end #}
{# Start date (see custom vars)     -- field_webny_event_date_start #}
{# Hero image                       -- field_webny_event_heroimage #}
{# Navigation toggle on/off         -- field_webny_event_navtoggle #}
{# Redirect Url                     -- field_webny_event_redirect_url #}
{# Short title                      -- field_webny_event_short_title #}
{# Summary description              -- field_webny_event_summary #}
{# Venue name                       -- field_webny_event_venue_name #}
{# Global Keywords                  -- field_webny_global_keywords #}

{# CUSTOM NODE VARIABLES #}
{# See webny_event_content_type_preprocess_node() for extra variables. #}

{# ATTACH JS LIBRARY #}
{{ attach_library('webny_theme/navigator') }}
{{ attach_library('webny_theme/callouts') }}

{# DECLARED VARS #}
{% set hero_image = file_url(node.field_webny_event_heroimage.entity.field_image.entity.uri.value) %}
{% if hero_image == '/' %}
    {% set hero_image_class = 'hero-no-image' %}
{% else %}
    {% set hero_image_class = 'hero-has-image' %}
    {% set hero_has_image_content = 'hero-has-image-content' %}
{% endif %}
{% set nav_toggle = node.field_webny_event_navtoggle.value %}
{% set toc_content_sections = content.field_webny_event_contentsect|without('label') %}

<div class="webny-event-content-page webny-toc-page">

    {# NEW HERO SECTION #}

    <article {{ attributes.addClass('hero-event','hero-layout') }}>

        {# START QUICK EDITS #}
        {{ title_prefix }}

        <div class="hero-header {{ hero_image_class }} hero-event">
            <div class="hero-image">
                {{ content.field_webny_event_heroimage }}
            </div>
            <div class="hero-bkg"></div>
        </div>

        <div class="hero-content-wrap">
            <div class="hero-inner hero-event--inner {{ hero_has_image_content }}">
                {# Title block #}
                <div class="hero-event--title-block">
                    <h1>{{ label }}</h1>

                    <div class="hero-keywords">
                        {{ content.field_webny_agency_keywords }}
                    </div>
                </div>
                {# Event date block #}
                <div class="hero-event--date-block">
                    {% include '@webny_theme/includes/webny--event-date.html.twig' %}
                </div>
            </div>
        </div>

        {{ title_suffix }}

    </article>

    {% include '@webny_theme/includes/webny--action-bar.html.twig' %}
    {% include '@webny_theme/includes/webny--toc.html.twig' %}

</div>
