{#
/**
 * @file
 * Theme override to display a node for webny-news
 *
 *    -- WebNY News Content Type twig accessors --
 *
 *	  FIELD					TWIG
 *    title:                {{ label }}
 *    body:                 {{ content.body }}
 *    agency_keywords:      {{ content.field_webny_news_agency_keywords }}
 *    attachments:          {{ content.field_webny_news_attachment }}
 *    teaser:               {{ content.field_webny_news_teaser }}
 *    news_image:           {{ content.field_webny_news_image }}
 *    contact_info:         {{ content.field_webny_news_contact_info }}
 *    news_date:            {{ content.field_webny_news_date }}
 *    global_keywords:      {{ content.field_webny_news_global_keywords }}
 *    location:             {{ content.field_webny_news_location }}
 *    subjet_heading:       {{ content.field_webny_news_subject_heading }}
 *    subtitle:             {{ content.field_webny_news_sub_title }}
 *
 */

/**
 *  attachment URI [0]:             {{ file_url(node.field_webny_news_attachment.0.entity.uri.value) }}         
 *  attachment Description [0]:     {{ node.field_webny_news_attachment[0].description }}     
 */

#}

{#
/*
 * Begin TWIG NODE-WEBNY-NEWS Template
 */
#}

{% set hero_image = file_url(node.field_webny_news_image.entity.image.entity.uri.value) %}

{%
  set newsclasses = [
    'node',
    node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

{% if node.field_webny_news_hero_toggle.value == 1 %}
<article {{ attributes.addClass(newsclasses,'hero-layout') }}>

    {# CHECK IF THERE IS AN IMAGE #}

    {% if hero_image == '/' %}
        <div class="hero-header hero-no-image hero-news" style="">
    {% else %}
        <div class="hero-header hero-has-image hero-news" style="background-image:url('{{ hero_image }}')">
    {% endif %}

            <!-- BACKGROUND GRAD -->
            <div class="hero-bkg"></div>
        </div>

            {% if hero_image == '/' %}
                <div class="hero-inner hero-news-inner">
            {% else %}
                <div class="hero-inner hero-news-inner hero-has-image-content">
            {% endif %}
            
            {# DATE / LOCATION #}
            <div class="hero-published-date">
                {{ content.field_webny_news_date }} <div class="hero-location">{{ content.field_webny_news_location }}</div>
            </div>

            {# HERO TITLE #}
            <h1>
                {% if node.field_webny_news_hero_title.value is empty %}
                    {{ label }}
                {% else %}
                    {{ node.field_webny_news_hero_title.value }}
                {% endif %}
            </h1>

            {# HERO SUMMARY #}
            <div class="hero-summary">
                {{ content.field_webny_news_description }}
            </div>

            {# BUTTONS #}
            <div class="hero-keywords hero-buttons">
                {{ content.field_webny_news_button_one }}
                {{ content.field_webny_news_button_add }}
            </div>
            
        </div> 
        
    </header>

</article>
{% endif %}

<div class="news-body">
	
    <div class="news-body-in">

        <div class="press-teaser">
            {% for x,subtitle in node.field_webny_news_subtitles %}
                <div class="press-subtitle-item">
                    {{ node.field_webny_news_subtitles[x].value }}
                </div>

            {% endfor %}
        </div>
        
        <div class="press-body">
            {{ content.body }}
        </div>
			
    </div>
		
</div>
    
<div class="press-docs">
    <h2 class="doc-set-title">{{ content.field_webny_news_docsec_title }}</h2>
    <h3 class="doc-set-subtitle">{{ content.field_webny_news_docsec_subtitle }}</h3>

    <div class="press-docs-eref">
        {{ content.field_webny_news_attdocs_eref }}
    </div>
</div>

<div class="press-contact-info">
    {{ content.field_webny_news_contact_info }}
</div>
