{% extends 'profiles/custom/webny/themes/custom/webny_theme/templates/content/webny--card-base.html.twig' %}

{# setting title variable so it can be used 2x #}
{%  if(node.field_webny_news_short_title.value is not empty and node.field_webny_news_short_title.value is not null) %}
    {% set vtitle = node.field_webny_news_short_title.value %}
{% else %}
    {% set vtitle = node.label %}
{% endif %}

{% block card_image %}
    {% if (content.field_webny_news_image["#items"] is not empty and
           content.field_webny_news_image["#items"] is not null) %}
        <a href="{{ url }}">
            <div class="card-image" style="background-image: url('{{ file_url(node.field_webny_news_image.entity.field_image.entity.uri.value | image_style('card_vertical')) }}');">
            </div>
        </a>
    {% else %}
        <div class="card-fallback-image">
            {% include '@webny_theme/includes/NYGov_Newspaper.svg.twig' %}
        </div>
    {% endif %}
{% endblock card_image %}

{% block card_title %}
    {{ vtitle | webny_trim_card_title }}
{% endblock card_title %}

{% block card_title_url %}
    <a href="{{ url }}" rel="bookmark">
{% endblock card_title_url %}

{% block card_footer %}
    {{ content.field_webny_news_date }}
{% endblock card_footer %}

{% block card_content %}
    {% if node.field_webny_news_description.value is not empty and node.field_webny_news_description.value is not null %}
        {{ content.field_webny_news_description }}
    {%  else %}
        {{ content.body }}
    {% endif %}
{% endblock card_content %}
