{#
/**
 * @file
 * Theme override to display a node.
 * OVERRIDE the inner page display for quick links card.
 */
#}
{# set variables #}
{% set image = content.field_webny_page_image %}
{% set description = content.field_webny_page_description %}
{% if (node.field_webny_page_short_title.value is not empty and node.field_webny_page_short_title.value is not null) %}
    {% set title = content.field_webny_page_short_title %}
{% else %}
    {% set title = node.label %}
{% endif %}

<article{{ attributes.addClass('webny-quick-links') }}>

    <div{{ content_attributes }}>
        <div class="webny-quick-links-image"><a href="{{ url }}">{{ image }}</a></div>
        <div class="webny-quick-links-card-text">
            <div class="webny-quick-links-title"><a href="{{ url }}">{{ title }}</a></div>
            <div class="webny-quick-links-description">{{ description }}</div>
        </div>
    </div>

</article>
