{#
/**
 * @file
 * Theme override to display a node.
 * OVERRIDE the news display for announcements reference. 
 */
#}

<article{{ attributes.addClass('webny-announcements') }}> 
  {% if not page %}
    <div class="webny-announce-wrap">
        <div class="webny-announce-wrap-in">
            <div class="announcement-info">

                {# IMPLEMENTS SHORT TITLE OR 65 CHAR LIMIT TITLE #}

                {%  if(node.field_webny_news_short_title.value is not empty and node.field_webny_news_short_title.value is not null) %}
                    <h4><a href="{{ url }}">{{ node.field_webny_news_short_title.value }}</a></h4>
                {% elseif(node.label|length <= 65) %}
                    <h4><a href="{{ url }}">{{ node.label }}</a></h4>
                {% else %}

                    {% set ws = true %}
                    {% for num in node.label|length..0 %}
                        {% if (num < 65 and  node.label|slice(num)|first == ' ' and ws != false) %}
                            {% set ws = false %}
                            <h4><a href="{{ url }}">{{ node.label[:num] ~ '...' }}</a></h4>
                        {% endif %}
                    {% endfor %}

                {% endif %}

                <div class="announcement-date">
                    {{ node.field_webny_news_date.value|date("F j, Y") }} 
                </div>
                <div class="announcement-summary">
                    {% if node.field_webny_news_description.value is not empty and node.field_webny_news_description.value is not null %}
                        {{ content.field_webny_news_description }}
                    {%  else %}
                        {{ content.body }}
                    {% endif %}
                </div>
            </div>
            <div class="webny-announcement-button">
              <a href="{{ url }}">LEARN MORE</a>
            </div>
        </div>    
    </div>
  {% endif %}
</article>
