{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{# CHECK IF PARAGRAPH ENABLED #}
{% if paragraph.field_webny_get_inv_toc.value == 1 %}
    {% set gp_enabled = 'gp_enabled' %}
    {% set gp_status = 'enabled' %}
{% else %}
    {% set gp_enabled = '' %}
    {% set gp_status = 'disabled' %}
{% endif %}

{# CHECK FOR FRAME BACKGROUND COLOR SELECTED #}
{% if paragraph.field_webny_get_inv_color.value == ‘primary’ %}
    {% set gi_color = ‘primary’ %}
{% elseif paragraph.field_webny_get_inv_color.value == ‘secondary’ %}
    {% set gi_color = ‘secondary’ %}
{% elseif paragraph.field_webny_get_inv_color.value == ‘monochrome’ %}
    {% set gi_color = ‘monochome’ %}
{% else %}
    {% set gi_color = ‘’ %}
{% endif %}


{# DISPLAY THE PARAGRAPH #}
{% block paragraph %}
    <section id="{{ 'toc_' ~ paragraph.id() }}" rel="{{ gp_status }}" class="generic_para {{ paragraph.bundle() }} {{ gp_enabled }} {{ gi_color }}" >
        {{ content }}
    </section>
{% endblock paragraph %}