<article{{ attributes.addClass('webny-teaser') }}>
    <div class="webny-teaser-wrapper">
        <a class="webny-teaser-image" href="{{ url }}">
            {% block hero_image %}{% endblock hero_image %}
        </a>
        <div class="webny-teaser-content-wrapper">
          <div class="webny-teaser-content-wrapper__details">
          {# Gives an option for another wrapper under .webny-teaser-content-wrapper__details #}
          {% block optional_wrapper_start %}{% endblock optional_wrapper_start %}
          {% if content.field_webny_filter_terms.0 %}
            <div class="webny-teaser-filter-terms">{{ content.field_webny_filter_terms }}</div>
          {% endif %}
          <div class="webny-teaser-title">
            {% block title %}
              <a href="{{ url }}">
                {% if title|length <= 65 %}
                  {{ title }}
                {% else %}
                  {{ title|slice(0, 65) ~ '...' }}
                {% endif %}
              </a>
            {% endblock title %}
            {# If optional_wrapper_start is utilized, so should this #}
            {% block optional_wrapper_end %}{% endblock optional_wrapper_end %}
          </div>
          {% block content %}{% endblock content %}
          </div>
          {% block footer %}
            {{ content.links }}
          {% endblock %}
        </div>
    </div>
</article>
