<div id="alternative-universal-navigation" class="alternative-universal-container">
    <header id="alternative-unav-header" class="alternative-unav-header" role="banner">
        <div class="header">

            <div class="alternative-unav-global-menu">

                {# if google search appliance has been selected #}
                {% if gsa == '1' %}
                    {% set site_url = url("<front>") %}
                    {% if gt == '1' %}
                        {% set right_position = 'translate' %}
                    {% else %}
                        {% set right_position = 'no-translate' %}
                    {% endif %}
                    {% if 'ny.gov' in site_url|render|render %}
                        {# production environment based on site_url including ny.gov #}
                        {% set gsa_action = 'http://search.its.ny.gov/search' %}
                    {% else %}
                        {# non-production environment #}
                        {% set gsa_action = 'http://qa.search.its.ny.gov/search' %}
                    {% endif %}
                    <div class="alternative-unav-gsa">
                        <form action="{{ gsa_action }}" method="get" class="{{ right_position }}">
                            <input id="alternative-unav-search" placeholder="Search" data-type="search" aria-label="search" name="q" />
                            <span class="ui-helper-hidden-accessible" role="status" aria-live="polite"></span>
                            <span class="icon-search"></span>
                            <button class="alternative-unav-search-submit" type="submit">Submit</button>
                            <input type="hidden" name="client" value="{{ gsa_client }}">
                            <input type="hidden" name="output" value="xml_no_dtd">
                            <input type="hidden" name="proxystylesheet" value="{{ gsa_proxy_stylesheet }}">
                            <input type="hidden" name="sort" value="date:D:L:d1">
                            <input type="hidden" name="wc" value="200">
                            <input type="hidden" name="wc_mc" value="1">
                            <input type="hidden" name="oe" value="UTF-8">
                            <input type="hidden" name="ie" value="UTF-8">
                            <input type="hidden" name="ud" value="1">
                            <input type="hidden" name="site" value="{{ gsa_collection }}">
                            <input type="hidden" name="sitesearch" value="{{ gsa_sitesearch }}" />
                            <input type="submit" name="submit" />
                        </form>
                    </div>
                {% else %}
                    <div class="alternative-unav-gsa"></div>
                {% endif %}

                {# if translate textbox has been selected #}
                {% if gt == '1' %}
                    <div class="alternative-unav-links">
                        <ul id="alternative-unav-settings" class="alternative-unav-settings">
                            <li class="alternative-unav-settings-translate">
                                <a id="alternative-unav-translate" href="#">Translate</a>
                                <div id="google_translate_element"></div>
                                <script type="text/javascript">
                                  function googleTranslateElementInit () {
                                    new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
                                  }
                                </script>
                                <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </div>

            {% if alt_unav_image is not null and alt_unav_image is not empty and alt_unav_image|length %}
            <div class="pane-page-logo">
                <div class="pane-content">
                    <a href="{{ url('<front>') }}">
                        <img alt="{{ site_name }}" src="{{ alt_unav_image }}" />
                    </a>
                </div>
            </div>
            {% endif %}

            <div class="alternative-unav-global-name">
                <div class="alternative-unav-agency-name">
                    <div class="alternative-unav-agency-agency"><a href="{{ url('<front>') }}">{{ agencyname|raw }}</a></div>
                </div>
            </div>

        </div> <!-- end header class -->
        {% if gsa == '1' %}
            <div id="expand-menu-mobile"></div>
        {% endif %}
    </header>
</div>

{{ attach_library('webny_unav/webny-alt-unav') }}
