<div{{ attributes }}>
  <div class="address" translate="no">
    {% if given_name or family_name %}
      {{ given_name }} {{ family_name }}
    {% endif %}
    {% if organization %}
      {{ organization }}
    {% endif %}
    {% if address_line1 %}
      {{ address_line1 }}
    {% endif %}
    {% if address_line2 is not empty %}
      {{ address_line2 }}
    {% endif %}
    {% if dependent_locality.code %}
      {{ dependent_locality.code }}
    {% endif %}
    {% if locality or postal_code or administrative_area %}
      <span class="separator">, </span><span class="city-state-zip">{{ locality }}<span class="separator">,</span> {{ administrative_area }} {{ postal_code }}</span>
    {% endif %}
    {{ country.name }} 
  </div>
</div> 
