{# CHECK FOR FRAME BACKGROUND COLOR SELECTED #}
{% if paragraph.field_webny_get_inv_color.value is not empty and paragraph.field_webny_get_inv_color.value is not null %}
    {% set gi_color = paragraph.field_webny_get_inv_color.value %}
{% else %}
    {% set gi_color = ‘’ %}
{% endif %}


{%
set classes = [
'get-involved--' ~ field_name|clean_class,
gi_color,
]
%}
<div{{ attributes }}>
    {% for item in items %}
        <div{{ item.attributes.addClass(classes) }}>
            <a title="{{ item.content['#title'] }}" href="{{ item.content['#url'] }}">{{ item.content['#title'] }}</a>
        </div>
    {% endfor %}
</div>
