
{%
set classes = [
'get-involved--' ~ field_name|clean_class,
]
%}
<div{{ attributes }}>
    {% for item in items %}
        <div{{ item.attributes.addClass(classes) }}>
            <a title="{{ item.content['#title'] }}" href="{{ item.content['#url'] }}">{{ item.content['#title'] }}</a>
        </div>
    {% endfor %}
</div>
