{#
/**
 * @file
 * Theme override to display a node for webny-landing-page.
 *
 *
 *    -- WebNY Landing Page Content Type twig accessors --
 *
 */
#}

{#
/*
 * Begin TWIG NODE-WEBNY-LANDING-PAGE Template
 */
#}


<div class="landing-title-area">

    <!-- HEADLINE LABEL -->
    <div class="landing-title">
        <h1>{{ label }}</h1>
    </div>

    <!-- SUBTITLE LABEL -->
    <div class="landing-subtitle">
        <span>{{ content.field_webny_landing_subtitle }}</span>
    </div>

</div>

{# CAN'T IMPLEMENT A HERO UNTIL ALL FIELDS ARE AVAILABLE FOR A HERO #}

{#
<article {{ attributes.addClass('hero-layout') }}>

    <header class="hero-header hero-no-image">

        <!-- BACKGROUND GRAD -->
        <div class="hero-bkg"></div>

        <!-- HEADLINE LABEL -->
        <h1>{{ label }}</h1>

        <!-- KEYWORDS -->
        <div class="hero-keywords">
            {{ content.field_webny_news_global_keywords }}
        </div>

    </header>

</article>
#}

<div class="page-summary">
    {{ content.field_webny_landing_summary }}
</div>


<div class="page-paragraphs">
    <div class="page-paragraphs-in">
    {{ content.field_webny_landing_paragraph }}
    </div>
</div>